@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<title>DevExtreme Demo</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/message.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/number.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/currency.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/date.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.1.4/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.1.4/css/dx.light.css" />
<script src="https://cdn3.devexpress.com/jslib/19.1.4/js/dx.all.js"></script>
<div class="text-center">
    <div id="gridContainer"></div>
</div>

<script>
    var empData = new DevExpress.data.CustomStore({
        key: "employeeID",
        load: function (loadOptions) {
            return $.ajax({
                url: "/api/Employees",
                method: "GET"
            });
        },
        update: function (key, values) {
            var _data = { "SysproGroupId": key, "isVM": values.isVM, "Quantity": values.Quantity };
            //alert(JSON.stringify(data));
            return $.ajax({
                url: "/Quote/UpdateService",
                data: _data,
                method: "POST",
                success: function (data) {
                    var result = (data === "Saved") ? true : false;
                    if (result) {
                        ToastMessage(result, "The item value modified successfully!!!!");
                    } else {
                        ToastMessage(result, "Eish!!!! Modifying the value failed");
                    }
                }
            });
        }
    });
    $(document).ready(function () {
        $("#gridContainer").dxDataGrid({
            dataSource: empData,
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 25, 50, 100]
            },
            remoteOperations: false,
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true
            },
            groupPanel: { visible: true },
            grouping: {
                autoExpandAll: false
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            showBorders: true,

            onContentReady: function (e) {
                (this).dxDataGrid('columnOption', 'employeeID', 'visible', false);
            }
        });
    });
</script>
